h2 Make your banner!



= link_to 'New campaign', new_campaign_path


h2 Embed code


= text_area_tag  nil, '<iframe frameborder="none" height="200" marginheight="0" marginwidth="0" src="/get_banner" width="200"></iframe>', escape: false, class: 'embed_code'



